body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: rgb(95, 213, 215);
}
.tablelist {
  border: 3px solid ;
  background: #8538d7;
  color: white;
}

.tablelist tr{
  border: 1px solid;
}
.tablelist td{
  border: 1px solid;
  padding: 5px;
}
.tablelist td:last-child{
  border:none;
}
.Appointment{
  background: #8538d7;
  color: white;
}


/* this code for print page in view component */

.printable{
  display: block;
  margin: 1vh auto;
  padding: 2vw;
  width: calc(2480px/4);
  height: calc(3508px/4);
  background: rgba(3, 238, 46, 0.67);
  color: blueviolet;
}

.slipbody{
  display: flex;
}
.slipbody span{
  font-size: 200px;
  align-items: center;
  margin: 0 auto;
}
.slipbodylogo{
  
  opacity: 0.5;
}
.printable button{
margin: 3px;
}
@media print{
  .printable button{
    display: none;
  }
  .printable{
    border: 1px solid;
  }
}